@import "fonts.css";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}
enter{
    display: block;
    margin-bottom: 39px;
}
.mainBlock{
    width: 100%;
    height: 100svh;
    background: url("../images/main_bg.png") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
header{
    height: 4.25rem;
    background: rgba(30, 30, 30, 0.5);
}
.container{
    width: 1200px;
    margin: 0 auto;
}
header > .container{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.logo{
    color: #E85029;
    font-family: Roboto-Bold, sans-serif;
    font-size: 2.5rem;
}
nav ul{
    display: flex;
    gap: 41px;
    margin-bottom: 9px;
}
li > a{
    color: #fff;
    font-family: Roboto-Bold, sans-serif;
    font-size: 1.56rem;
}
li:hover{
    transform: translateY(-2px);
}
.serviceWrapper{
    width: 100%;
    height: calc(100svh - 4.25rem);
    display: flex;
    justify-content: start;
    align-items: end;
    padding-bottom: 98px;
}
.titleBlock{
    font-family: Roboto-Bold, sans-serif;
    font-size: 3.75rem;
    color: #E85029;
    font-weight: 400;
}
.serviceWrapper > div > .titleBlock{
    margin-bottom: 45px;
}
.services{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 36px;
}
.services > span{
    padding: 42px 19px 46px;
    background: #041528FF;
    color: #fff;
    font-family: Archivo-Medium, sans-serif;
    font-size: 1.56rem;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}
.services > span:hover,
.advantagesBody span:hover,
.clients img:hover{
    transform: translateY(-8px) scale(1.01);
}
/*About block*/
.aboutWrapper{
    position: relative;
    height: 100svh;
    display: flex;
    align-items: center;
}
.aboutImg {
    position: absolute;
    transform: translate(-43%, 6%);
    height: 39rem;
}
.aboutInfo{
    position: absolute;
    transform: translateX(100%);
}
.aboutInfo .titleBlock{
    margin-bottom: 11px;
}
.aboutInfo > span {
    max-width: 600px;
    display: block;
    font-family: Archivo-Regular, sans-serif;
    font-size: 1.88rem;
    line-height: 2.06rem;
    text-align: justify;
}
/*Advantages Block*/
.advantagesBlock{
    width: 100%;
    height: 100svh;
    background: url("../images/advantages_bg.png") center center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}
.advantagesBlock > .container{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 117px;
    flex-direction: column;
}
.subtitle{
    font-family: Archivo-Regular, sans-serif;
    font-size: 1.88rem;
    font-weight: 400;
    line-height: 2.06rem;
    text-align: justify;
    width: 50%;
}
.advantagesBlock > div > .subtitle{
    width: 37.31rem;
    display: block;
}
.advantagesBody{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 61px 60px;
    width: inherit;
    flex-wrap: wrap;
}
.advantagesBody span{
    width: 29.69rem;
    height: 9.44rem;
    padding: 20px 16px;
    background: #fff;
    border: .19rem solid #E85029;
    font-family: Archivo-Regular, sans-serif;
    font-size: 1.88rem;
    line-height: 2.06rem;
    text-align: left;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}
/*Clients Block*/
.clientsBlock,
.licensesBlock{
    width: 100%;
    height: 100svh;
}
.clientsBlock > .container{
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 25px;
}
.clients{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 59px 34px;
}
.clients img{
    transition: transform .2s ease-in-out;
}
/*Licenses Block*/
.licensesBlock > .container{
    display: flex;
    flex-direction: column;
    gap: 70px;
}
.licenses{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17px;
}
.licensesLines{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.line{
    width: 4.38rem;
    height: 0.31rem;
    background: rgba(232, 80, 41, 0.3);
    transition: background .2s linear;
    cursor: pointer;
}
.line:hover{
    background: #E85029;
}
/*Contacts Block*/
.contactsBlock{
    width: 100%;
    height: max-content;
}
.contactsBlock > div > span{
    font-family: Archivo-Regular, sans-serif;
    font-size: 1.88rem;
    line-height: 2.06rem;
    text-align: justify;
    max-width: 44.25rem;
    display: block;
    margin-top: 10px;
    margin-bottom: 14px;
}
.map{
    position: relative;
}
iframe{
    position: absolute;
    width: 100%;
}
.wrapper_bg{
    position: absolute;
    width: 60%;
    background: rgba(255, 255, 255, 0.4);
    height: 100%;
}
.mapInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    width: 600px;
    gap: 10px;
    position: relative;
}
.mapInfo h3{
    font-family: Roboto-Bold, sans-serif;
    font-size: 2.5rem;
    line-height: 2.94rem;
}
.mapInfo span {
    font-family: Archivo-Regular, sans-serif;
    font-size: 1.88rem;
    line-height: 2.06rem;
    margin-bottom: 17px;
}

.splide__slide>a,
.splide__slide>img{
    height: 56svh;
    display: flex;
    justify-content: center;
}
.splide__arrow{
    display: none;
}
.splide__pagination{
    margin-bottom: -50px;
}
.splide__pagination__page{
    width: 4.38rem;
    height: 0.31rem;
    background: rgba(232, 80, 41, 0.3);
    transition: background .2s linear;
    cursor: pointer;
    border-radius: 0;
}
.splide__pagination__page.is-active{
    background: #E85029;
    transform: scale(1);
}