@import url(fonts.css);

.logo, .titleBlock {
    font-family: Roboto-Bold, sans-serif;
    color: #e85029
}

.services > span, li > a {
    color: #fff;
    font-size: 1.56rem
}

.advantagesBody span, .clients img, .services > span {
    transition: transform .2s ease-in-out
}

.line, .splide__pagination__page {
    transition: background .2s linear;
    cursor: pointer
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth
}

enter {
    display: block;
    margin-bottom: 39px
}

.mainBlock {
    width: 100%;
    height: 100svh;
    background: url("../images/main_bg.webp") center center/cover no-repeat;
    -webkit-background-size: cover
}

header {
    height: 4.25rem;
    background: rgba(30, 30, 30, .5)
}

.container {
    width: 1200px;
    margin: 0 auto
}

header > .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: end
}

.logo {
    font-size: 2.5rem
}

nav ul {
    display: flex;
    gap: 41px;
    margin-bottom: 9px
}

li > a {
    font-family: Roboto-Bold, sans-serif
}

li:hover {
    transform: translateY(-2px)
}

.serviceWrapper {
    width: 100%;
    height: calc(100svh - 4.25rem);
    display: flex;
    justify-content: start;
    align-items: end;
    padding-bottom: 98px
}

.titleBlock {
    font-size: 3.75rem;
    font-weight: 400
}

.serviceWrapper > div > .titleBlock {
    margin-bottom: 45px
}

.services {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 36px
}

.services > span {
    padding: 42px 19px 46px;
    background: #041528FF;
    font-family: Archivo-Medium, sans-serif;
    cursor: pointer
}

.aboutInfo > span, .advantagesBody span, .contactsBlock > div > span, .subtitle {
    font-family: Archivo-Regular, sans-serif;
    font-size: 1.88rem;
    line-height: 2.06rem
}

.advantagesBody span:hover, .clients img:hover, .services > span:hover {
    transform: translateY(-8px) scale(1.01)
}

.aboutWrapper {
    position: relative;
    height: 100svh;
    display: flex;
    align-items: center
}

.aboutImg {
    position: absolute;
    transform: translate(-43%, 6%);
    height: 39rem
}

.aboutInfo {
    position: absolute;
    transform: translateX(100%)
}

.aboutInfo .titleBlock {
    margin-bottom: 11px
}

.aboutInfo > span {
    max-width: 600px;
    display: block;
    text-align: justify
}

.advantagesBlock {
    width: 100%;
    height: 100svh;
    background: url("../images/advantages_bg.webp") center center/cover no-repeat;
    -webkit-background-size: cover
}

.advantagesBlock > .container {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 117px;
    flex-direction: column
}

.subtitle {
    font-weight: 400;
    text-align: justify;
    width: 50%
}

.advantagesBlock > div > .subtitle {
    width: 37.31rem;
    display: block
}

.advantagesBody {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 61px 60px;
    width: inherit;
    flex-wrap: wrap
}

.advantagesBody span {
    width: 29.69rem;
    height: 9.44rem;
    padding: 20px 16px;
    background: #fff;
    border: .19rem solid #e85029;
    text-align: left;
    display: flex;
    align-items: center;
    cursor: pointer
}

.clientsBlock > .container, .licenses {
    justify-content: center;
    display: flex
}

.clientsBlock, .licensesBlock {
    width: 100%;
    height: 100svh
}

.clientsBlock > .container {
    height: inherit;
    align-items: start;
    flex-direction: column;
    gap: 25px
}

.clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 59px 34px
}

.licensesBlock > .container {
    display: flex;
    flex-direction: column;
    gap: 70px
}

.licenses {
    align-items: center;
    gap: 17px
}

.licensesLines {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px
}

.line {
    width: 4.38rem;
    height: .31rem;
    background: rgba(232, 80, 41, .3)
}

.line:hover {
    background: #e85029
}

.contactsBlock {
    width: 100%;
    height: max-content
}

.contactsBlock > div > span {
    text-align: justify;
    max-width: 44.25rem;
    display: block;
    margin-top: 10px;
    margin-bottom: 14px
}

.map {
    position: relative
}

iframe {
    position: absolute;
    width: 100%
}

.wrapper_bg {
    position: absolute;
    width: 60%;
    background: rgba(255, 255, 255, .4);
    height: 100%
}

.mapInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    width: 600px;
    gap: 10px;
    position: relative
}

.mapInfo h3 {
    font-family: Roboto-Bold, sans-serif;
    font-size: 2.5rem;
    line-height: 2.94rem
}

.mapInfo span {
    font-family: Archivo-Regular, sans-serif;
    font-size: 1.88rem;
    line-height: 2.06rem;
    margin-bottom: 17px
}

.splide__slide > a, .splide__slide > img {
    height: 56svh;
    display: flex;
    justify-content: center
}

.aboutWrapper.mobile, .burgerMenu, .splide__arrow {
    display: none
}

.splide__pagination {
    margin-bottom: -50px
}

.splide__pagination__page {
    width: 4.38rem;
    height: .31rem;
    background: rgba(232, 80, 41, .3);
    border-radius: 0
}

.splide__pagination__page.is-active {
    background: #e85029;
    transform: scale(1)
}

@media screen and (max-width: 486px) {
    .burgerMenu > span:after, .burgerMenu > span:before {
        content: "";
        width: inherit;
        height: inherit;
        background: #e85029;
        position: absolute
    }

    .aboutImg, .aboutInfo {
        position: inherit;
        transform: none
    }

    .services, .splide__track {
        margin-left: -2.6%;
        margin-right: -2.6%
    }

    .services, .splide__track, nav {
        margin-right: -2.6%
    }

    body {
        overflow-x: hidden
    }

    .container {
        width: 95%
    }

    header {
        height: 54px;
        position: fixed;
        top: 0;
        z-index: 12;
        width: 100%
    }

    header > .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative
    }

    .logo {
        font-size: 25px
    }

    .burgerMenu {
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer
    }

    .aboutBlock, .aboutImg {
        height: auto
    }

    .burgerMenu > span {
        width: 35px;
        height: 4px;
        background: #e85029;
        position: relative
    }

    .burgerMenu > span:before {
        top: -9px
    }

    .burgerMenu > span:after {
        bottom: -9px
    }

    nav {
        position: absolute;
        top: 100%;
        right: -100%;
        transition: right .4s ease-in-out;
        background: #1e1E1E7F;
        padding: 10px 27px 13px 12px
    }

    nav.active {
        right: 0
    }

    nav > ul {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 9px
    }

    .serviceWrapper {
        padding-bottom: 0
    }

    .titleBlock {
        font-size: 30px
    }

    .serviceWrapper > div > .titleBlock {
        margin-bottom: 21px
    }

    .services {
        overflow: scroll;
        width: auto;
        scrollbar-width: none
    }

    .services > span:first-child {
        margin-left: 2.6%
    }

    .services > span:last-child {
        margin-right: 2.6%
    }

    .services > span {
        display: block;
        min-width: 285px;
        padding: 25px 6px 16px 16px;
        font-size: 18px
    }

    .services::-webkit-scrollbar {
        width: 0
    }

    .aboutImg {
        width: 100%
    }

    .aboutWrapper {
        display: none
    }

    .aboutWrapper.mobile {
        display: block;
        height: max-content
    }

    .aboutInfo {
        height: max-content
    }

    .aboutInfo > span {
        font-size: 15px;
        font-weight: 400;
        line-height: 16px
    }

    .subtitle {
        font-size: 10px;
        font-weight: 400;
        line-height: 11px
    }

    .advantagesBlock {
        height: 534px
    }

    .advantagesBlock > .container {
        gap: 10px;
        justify-content: start;
        padding-top: 15px
    }

    .advantagesBody {
        gap: 10px
    }

    .advantagesBody span {
        width: 247px;
        height: 73px;
        font-size: 15px;
        line-height: 16px
    }

    .clientsBlock {
        height: max-content
    }

    .clientsBlock > .container {
        justify-content: start
    }

    .clients {
        flex-direction: row;
        flex-wrap: wrap
    }

    .clients > img {
        width: 142px
    }

    .licensesBlock {
        height: calc(43vh + 25px)
    }

    .licensesBlock > .container {
        gap: 34px
    }

    .splide__list {
        gap: 60px
    }

    .splide__arrow {
        display: block;
        width: 50px;
        height: 50px
    }

    .splide__arrow > svg {
        fill: #E85029;
        width: 20px;
        height: 20px
    }

    .splide__slide > a, .splide__slide > img {
        height: 16rem
    }

    .splide__pagination__page {
        width: 25px;
        height: 3px
    }

    .contactsBlock > div > span {
        font-size: 15px;
        line-height: 15px;
        width: 245px
    }

    #map_892519072, .map {
        height: 300px
    }

    .mapInfo {
        width: 50%;
        gap: 0;
        justify-content: center;
        height: inherit;
        padding-top: 10px
    }

    .mapInfo h3 {
        font-size: 15px;
        padding: 0;
        line-height: normal
    }

    .mapInfo span {
        font-size: 10px
    }
}